body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
header{
  display: flex;
  width: 100%;
  height: 5%;
  background-color:#0085B1;
}
nav{
  width: 100%;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*padding-top: 3%;*/
}
a{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
  color: #004F8B;
  padding: 2%;
  text-decoration: none;
  display: inline-block;
}
a:hover{
  background-color:#0B4C8F;
  color: white;
  padding:2.5%;
}
/*parte de  la  imagen con texto seccion1*/

.texoEnImagen{
  position:absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color:#004F8B;
}
.vaquitaBack{
  position: relative;
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*parte de  la  imagen con texto*/
#imagenTexto{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.posicionA{
  position:absolute;
  text-align: center;
  margin-top: 2%;

}
/*parte de  la  imagenes con texto*/

#contenidoTexto{
  width: 100%;
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;*/
}
.parrafos{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;

}

p{
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5vw;
  text-align: justify;;
  margin: 3%;
}
.vaquita1{
  width: 95%;
  margin: 3%;
}
.vaquita2{
  width: 95%;
  margin: 3%;
}
.titulo{
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
  color:#004F8B;
  display: flex;
  justify-content: center;

}
/*parte de Video*/
#video{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #79C5FF;
}
.video{
  width:100%;
  margin-top: 20%;
  margin-bottom: 20%;
}
/*formulario*/
#formulario{
  width: 100%;
  display:flex;
  flex-direction: column;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registro{
  width: 50%;
}
/*footer*/
footer{
  background: #004F8B;
  color:white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 10%;
}
