body {
  margin: 0;
}
header{
  width: 100%;
  height: 20%;
  background-color:#0085B1;
}
nav{
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*padding-top: 3%;*/
}
a:link,a:visited{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: #004F8B;
  text-decoration: none;
  display: inline-block;
}
a:hover,a:active{
  background-color:#0B4C8F;
  color: white;
  padding:.5%;
}
/*parte de  la  imagen con texto seccion1*/
#imagen{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
h1{
  position:absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color:#004F8B;
}
.vaquitaBack{
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*parte de  la  imagen con texto*/
#imagenTexto{
  width: 100%;
  display: flex;
  justify-content: center;
}
.textoImagen{
  position:absolute;
}
.primeraSeccionTexto,.segundaSeccionTexto{
  width: 100%;
  display: flex;;
  justify-content: space-around;
  margin-top: 10%;
}
p{
  width: 45%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  text-align: justify;;
}
.vaquita1,.vaquita2{
  width: 45%:
}
.titulo{
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color:#004F8B;
  display: flex;
  justify-content: center;

}
/*parte de Video*/
#video{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #79C5FF;
}
.video{
  width:560px;
  margin-top: 20%;
  margin-bottom: 20%;
}
/*formulario*/
#formulario{
  width: 100%;
  display:flex;
  flex-direction: column;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registro{
  width: 50%;
}
/*footer*/
footer{
  background: #004F8B;
  color:white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 10%;
}
